.sendMail {
    
    position: fixed;
    bottom: 0px;
    right: 50px;
    background-color: #404040;
    width: 40%;
    height: 40%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px #0000003d;
}

.sendMail__header {
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}
.sendMail__header > h3 {
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 0.3px;
}

.sendMail__send {
    
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}

.MuiButton-label{
    font-size: 16px !important;
    letter-spacing: 0.3px !important;
}
.sendMail__close {
    cursor: pointer;
}

.sendMail > form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sendMail > form > input {
    height: 30px;
    padding: 10px;
    border : none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}

.sendMail__message {
    flex: 1;
}

.sendMail_error {
    background-color: white;
    color: red;
    text-align: right;
    padding: 2px;
}
@media screen and (max-width:600px){
    .sendMail{
        width: 100%;
        position: sticky;
        left: -1px;
        bottom: -1px;
        z-index: 1000;
        height: 90vh;
    }
}